---
# doesn't use a layout
layout:
---
<!doctype html>
<html lang="en-us">
  {% assign pageTitle = "YACS Blog Archive" %}
  {% include head.html %}
  <body>
    {% include page-header.html %}
    <section class="main-content">
      <h2> About Us</h2>
      <p>YACS is an open-source course scheduler developed at the <a href="https://rcos.io" target="_blank">Rensselear Center for Open Source</a> at Rensselaer Polytechnic Institute.</p>
      <p>Our site is located at <a href="https://yacs.cs.rpi.edu" target="_blank">https://yacs.cs.rpi.edu</a>,
      and it has <a href="https://yacs.cs.rpi.edu/#/about" target="_blank">its own About page</a> with some more
      information about our history, goals, and developers past and present.</p>
      <p>To get in contact with us, you can email us at <a href="mailto:yacsrpi@gmail.com">yacsrpi@gmail.com</a>
      or submit an issue or bug report <a href="https://github.com/yacs-rcos/yacs/issues/new" target="_blank">on GitHub</a>.</p>
    </section>
  </body>
</html>
