---
# doesn't use a layout
layout:
---
<!doctype html>
<html lang="en-us">
  {% assign pageTitle = "YACS Blog Archive" %}
  {% include head.html %}
  <body>
    {% include page-header.html %}

    <section class="main-content">
      <h1>Blog Post Archive</h1>
      <table id="archive-list">
        {% for post in site.posts %}
        <tr>
          <td>
            <a href="{{ post.id }}"> {{ post.title }}</a>
          </td>
          <td>
            {{ post.date | date: "%B %-d, %Y" }}
          </td>
          <td>
            {{ site.data.devs[post.author].blogname }}
          </td>
        </tr>
        {% endfor %}
      </table>

      {% include page-footer.html %}
    </section>
  </body>
</html>
