// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: #993333;
$header-bg-color-secondary: #155799;

// Text
$section-headings-color: #ac3939;
$body-text-color: black;
$body-link-color: #993333;
$blockquote-text-color: #6b6161;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #ebe0e0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

$horizontal-rule-color: #ccc;
