---
---

@import "{{ site.theme }}";

/* Put any custom CSS here */

/* Overrides for default theme css */
.page-header {
  background-image: none;
  background-color: #993333;
  padding: 2rem 0;
}
h1 {
  font-weight:normal;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: black;
}
a {
  color: #993333;
}
